{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChampSim</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <script src="{% static 'codemirror.js'%}"></script>
    <link rel="stylesheet" href="{% static 'codemirror.css'%}">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{% static 'clike.js'%}"></script>
    <script src="{% static 'closebrackets.js'%}"></script>
    <link rel="stylesheet" href="{% static 'darcula.css'%}">    
    <style>
      html {
        --scrollbarBG: #CFD8DC;
        --thumbBG: #90A4AE;
      }
      body::-webkit-scrollbar {
        width: 15px;
      }
      body {
        scrollbar-width: thin;
        scrollbar-color: var(--thumbBG) var(--scrollbarBG);
      }
      body::-webkit-scrollbar-track {
        background: var(--scrollbarBG);
      }
      body::-webkit-scrollbar-thumb {
        background-color: var(--thumbBG) ;
        border-radius: 6px;
        border: 3px solid var(--scrollbarBG);
      }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">ChampSim Branch Predictor Editor</a>
      
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
          </ul>
            <input class="form-control mr-sm-2" id="inp" style="width: 250px;" type="text" placeholder="Branch Predictor Name">
            <button class="btn btn-primary" type="submit" onclick="addit()">Add</button>
        </div>
      </nav>
      <div class="sendthis">

      </div>
      <form action="code" method="post">
        {% csrf_token %}
            <textarea id="editor" name="ed1">
#include "ooo_cpu.h"

void O3_CPU::initialize_branch_predictor(){
  //initialize your predictor here
}

uint8_t O3_CPU::predict_branch(uint64_t ip){
  uint8_t prediction;
  // code your prediction logic here
  return prediction;
}

void O3_CPU::last_branch_result(uint64_t ip, uint8_t taken, uint64_t target)
{
  // update your predictor with the results
}





</textarea>
      </form>
      
    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById("editor"),{
            mode:"text/x-c++src",
            theme:"darcula",
            lineNumbers: true,
            autoCloseBrackets: true
        });
        function updateTextArea() {
          editor.save();
        }
        editor.getWrapperElement().style["font-size"] = "16px";
        editor.refresh();
        editor.on('change', updateTextArea);
        editor.setSize("1280","553");
        var code;
        function addit(){
          code = document.getElementById("editor").value;
          let predictor = document.getElementById("inp").value;
          console.log(predictor);
          const xhr = new XMLHttpRequest();
          xhr.open("post","addit",true);
          xhr.getResponseHeader("Content-type","application/txt");
          xhr.send(predictor+"^^&&"+code);
          xhr.onload = function(){
              if(this.status==200){
                  console.log("added");
                  window.location.href = "codeit"
              }
          }
      }
    </script>
    <script type="text/javascript"> 
        
    </script> 
</body>
</html>