{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChampSim</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <script src="{% static 'codemirror.js'%}"></script>
    <link rel="stylesheet" href="{% static 'codemirror.css'%}">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{% static 'clike.js'%}"></script>
    <script src="{% static 'closebrackets.js'%}"></script>
    <link rel="stylesheet" href="{% static 'darcula.css'%}">    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">ChampSim Branch Predictor Editor: {{predictor}}</a>
      
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
          </ul>
            <button class="btn btn-primary" type="submit" onclick="saveit()">Save</button>
        </div>
      </nav>
      <div class="sendthis">

      </div>
      <form action="code" method="post">
        {% csrf_token %}
            <textarea id="editor" name="ed1" >
{{code}}
</textarea>
      </form>
      
    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById("editor"),{
            mode:"text/x-c++src",
            theme:"darcula",
            lineNumbers: true,
            autoCloseBrackets: true
        });
        editor.setSize("100%","100%");

        var code;
        function saveit(){
            code = document.getElementById("editor").innerHTML;
            console.log(code);
            const xhr = new XMLHttpRequest();
            xhr.open("post","saveit",true);
            xhr.getResponseHeader("Content-type","application/txt");
            xhr.send(code);
            xhr.onload = function(){
                if(this.status==200){
                    console.log("saved");
                }
            }
        }
    </script>
    <script type="text/javascript"> 
        window.addEventListener('beforeunload', function (e) { 
            e.preventDefault(); 
            e.returnValue = '';
        }); 
    </script> 
</body>
</html>