{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChampSim</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> 
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.2.0/dist/jBox.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.2.0/dist/jBox.all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .Aligner {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          
          .Aligner-item {
            max-width: 50%;
          }
          html {
            --scrollbarBG: #CFD8DC;
            --thumbBG: #90A4AE;
          }
          body::-webkit-scrollbar {
            width: 15px;
          }
          body {
            scrollbar-width: thin;
            scrollbar-color: var(--thumbBG) var(--scrollbarBG);
          }
          body::-webkit-scrollbar-track {
            background: var(--scrollbarBG);
          }
          body::-webkit-scrollbar-thumb {
            background-color: var(--thumbBG) ;
            border-radius: 6px;
            border: 3px solid var(--scrollbarBG);
          }

    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#" id="doing">ChampSim</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="build_champsim.sh">Build</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="run_champsim.sh">Run</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Hybridize</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="closee">
        </div>
      <div class="jumbotron" style="max-height: 650px;">
        <h1 class="display-3" style="margin-top: -50px;">Hybridize</h1>
        <p class="lead">Make hybrids of two branch predictors automatically. Select any two branch predictors from the list and click hybridize</p>
        
        <div class="row">
            <div class="col-md-3">
              <button type="button" id = "pred1" class="btn btn-primary btn-lg btn-block" style="margin-top:100px;">Select Predictor 1</button>
            </div>
            <div class="col-md-6" style="text-align: center;">
                <div style="text-align: center;"><img src="{% static 'hybridimg.jpeg'%}" alt="" style="align-self:center;max-height:270px;"></div>
                <button type="button" style="margin-top: 20px;" class="btn btn-primary hybrid" onclick="hybridize()">Hybridize</button>
            </div>
            <div class="col-md-3" style="text-align: center;">
              <button type="button" id = "pred2" class="btn btn-primary btn-lg btn-block" style="margin-top:100px;">Select Predictor 2</button>
            </div>
        </div>
        
      </div>

      <script>
          var predictor1;
          var predictor2;
          function pred1(idof){
              predictor1 = idof.slice(0,idof.length-1);
              let thistring = `<div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert" onclick='$("div.closee").html( "" )'>&times;</button>
                <h3 class="alert-heading">Selection Predictor 1: `+predictor1+`</h3> 
              </div>`;
              $("div.closee").html(thistring);
          }
          function pred2(idof){
              predictor2 = idof.slice(0,idof.length-1);
              let thistring = `<div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert" onclick='$("div.closee").html( "" )'>&times;</button>
                <h3 class="alert-heading">Selection Predictor 1: `+predictor1+`, Predictor 2: `+predictor2+`</h3> 
              </div>`;
              $("div.closee").html(thistring);
          }
          function hybridize(){
              console.log(predictor1);
              console.log(predictor2);
              const xhr = new XMLHttpRequest();
              xhr.open("post","hybridmake",true);
              xhr.getResponseHeader("Content-type","application/txt");
              xhr.send(predictor1+"^^&&"+predictor2);
              $("button.hybrid").html(`<i class="fa fa-spinner fa-spin">&nbsp</i>Hybridize`);
              document.getElementById("doing").innerHTML = `<i class="fa fa-spinner fa-spin">&nbsp</i>ChampSim`;
              xhr.onload = function(){
                if(this.status==200){
                  console.log(this.responseText);
                  if(this.responseText.slice(9,10)==1){
                    let thistring = `<div class="alert alert-dismissible alert-success">
                        <button type="button" class="close" data-dismiss="alert" onclick='$("div.closee").html( "" )'>&times;</button>
                        <h3 class="alert-heading">File: hybrid_`+predictor1+`_`+predictor2+` is now in your branch predictor's list</h3> 
                      </div>`;
                      $("button.hybrid").html(`Hybridize`);
                      document.getElementById("doing").innerHTML = `ChampSim`;
                      $("div.closee").html(thistring);
                  }
                }
              }
          }
      </script>


      <script>
        $(document).ready(function() {
        new jBox('Modal', {
          attach: '#pred1',
          width: 320,
          title: 'Select Predictor 1',
          overlay: false,
          content: '{% for j in bp%}<button type="button" id="{{j}}1" class="btn btn-primary btn-lg btn-block" onclick="pred1(this.id)">{{j}}</button>{%endfor%}',
          draggable: 'title',
          repositionOnOpen: false,
          repositionOnContent: false
        });
      });
      $(document).ready(function() {
        new jBox('Modal', {
          attach: '#pred2',
          width: 320,
          title: 'Select Predictor 2',
          overlay: false,
          content: '{% for j in bp%}<button type="button" id="{{j}}2" class="btn btn-primary btn-lg btn-block" onclick="pred2(this.id)">{{j}}</button>{%endfor%}',
          draggable: 'title',
          repositionOnOpen: false,
          repositionOnContent: false
        });
      });
      </script>
</body>